<div class="mt-4">
    <label for="editName" class="block text-sm font-medium text-gray-700">Company Name</label>
    <input type="text" id="editName" name="name" class="mt-1 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
</div>
